<nav class="flex flex-row items-center justify-between w-full p-[20px] bg-fuchsia-300">
    <a class="p-[10px]" href="{{siteUrl}}">
        <svg x="0px" y="0px" viewBox="0 0 126.08 124.77" width="60px" height="60px">
            <circle cx="63" cy="62" r="60"/>
        </svg>
    </a>

    <div class="flex flex-row">
        <a class="p-[10px] uppercase" href="{{siteUrl}}">Home</a>
        <a class="p-[10px] uppercase" href="/covers">Covers</a>
        <a class="p-[10px] uppercase" href="/branding">Branding</a>
    </div>
</nav>