
<div class="flex flex-col md:flex-row md:flex-wrap {% block bgColor %} {% endblock %}">
{% for entry in page %} 
    <a href="{{ entry.slug }}" class="w-full h-[100vw] md:w-[50vw] md:h-[50vw] lg:w-[33.3vw] lg:h-[33.3vw] relative group">
       <div class="media-box">
        {% set image = entry.mainImage.one() %}
        {% if image %}
            <img src="{{ image.getUrl() }}" class="group-hover:opacity-10 transition delay-150 duration-300 ease-in w-full"  loading="lazy" alt="{{ image.alt|default('Placeholder') }}">
        {% endif %}
        </div>

        <div class="w-full h-full absolute top-0 left-0 flex items-center justify-center">
            <h2 class="text-white text-lg font-bold opacity-0 group-hover:opacity-100 transition-opacity delay-150 duration-300 ease-in uppercase">
                {% if entry.title %}
                    {{entry.title}}
                {% endif %}
            </h2>
        </div>
    </a>
{% endfor %} 
</div>


