{# Sets to a default value if not defined #}
{% set query = query ?? '' %}

{% if sprig.isInclude %}
    <input sprig 
       s-target="#results"
       s-trigger="keyup changed delay:300ms"
       s-request-url="{{ siteUrl('search') }}" 
       type="text" name="query" value="{{ query }}">

    <div id="results">
    
    </div>
{% endif %}


{% set searchableEntries = craft.entries().search(query).all() %}

{% if query %}
    {% set entries = craft.entries()
        .search(query)
        .orderBy('score')
        .all() 
    %}
    {% for entry in entries %}
        <p>{{ entry.title }} - Found: {{ query }}</p>
   {% endfor %}
{% endif %}