<!DOCTYPE html>
<html lang="{{ craft.app.language }}">
  <head>
  {% block head %}
        <meta charset="utf-8"/>
        <title>{{ 'TestSite | ' ~ (docTitle | default('Welcome')) }}</title>
        <meta name="description" content="{{ metaDesc|default('Placeholder') }}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, viewport-fit=cover" />
        <meta name="referrer" content="origin-when-cross-origin" />
        {# <link rel="icon" href="../uploads/images/favicon.png" type="image/x-icon" /> #}
        <link rel="stylesheet" href="https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css" />
        {# {% do craft.app.view.registerCssFile('@web/css/main.css') %} #}
    {% endblock %}
  </head>

    <body {{ attr(bodyAttributes ?? {}) }}>
        <main>
        {% block content %}{% endblock %}
        </main>
    </body>
</html>