{% extends "_layout.twig" %} 
{% set bodyAttributes ={ class: "home" } %} 
{% set docTitle = entry.title %} 
{# {% set metaDesc = entry.metaDescription %}  #}

{% set page = craft.entries().section('work').all() %} 

{% block content %} 
     <div class="columns-3 gap-0 bg-gray-900">
        {% for entry in page %} 
            <a href="{{ entry.slug }}" class="w-full relative group">
                {% set image = entry.mainImage.one() %}
                {% if image %}
                    <img src="{{ image.getUrl() }}" class="group-hover:opacity-10 transition delay-150 duration-300 ease-in w-full"  alt="{{ image.alt|default('Placeholder') }}">
                {% endif %}

                <div class="w-full h-full absolute top-0 left-0 flex items-center justify-center">
                    <h2 class="text-white text-lg font-bold opacity-0 group-hover:opacity-100 transition-opacity delay-150 duration-300 ease-in uppercase">
                        {% if entry.title %}
                            {{entry.title}}
                        {% endif %}
                    </h2>
                </div>
            </a>
        {% endfor %} 
    </div>
{% endblock %}